 #reg{
    display: inline-block;
  
  justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    background-color: #f0f2f5;
}

h1.display-3{
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
}
.mb-3{
    font-family: 'Cabin', sans-serif;
    font-size: x-large
}
h1{
    font-family: 'Cabin', sans-serif;
    font-size: 60px;
    justify-content: left;
    display: flex;
    color: #DDD92A !important;
    
}
#container{
    background-color: #2D2A32;
    padding: 50px;
}
#reg-container{
    background-color: 2D2A32;
    justify-content: center;
    display: grid;
}
button{
    font-family: 'Cabin', sans-serif;
    font-size: x-large !important;
}
li{
    color: red;
    font-family: 'Cabin', sans-serif;
    font-size: x-large !important;
}
nav{
    background-color: #4267b2  !important;
    color: #DDD92A !important;
    
    
} 
.bg-light{
    background-color:#DDD92A !important;
    
}
a.nav-link{
    color: #2D2A32 !important;
    font-size: xx-large;
    font-family: 'Rock Salt', cursive;
}
a.navbar-brand{
    color: #2D2A32 !important;
    font-size: xx-large;
    font-family: 'Rock Salt', cursive;
}
h1.display-4{
    background-color: #4267b2;
    color: #DDD92A !important;
    justify-content: center;
    display: flex;
    font-family: 'Rock Salt', cursive !important;
}
table{
    font-size: x-large;
    font-family: 'Rock Salt', cursive !important;;
    color: #DDD92A !important;
}
h1.display-5{
    justify-content: center;
    display: flex;
    font-family: 'Rock Salt', cursive !important;
    color: #DDD92A !important;
    
}
a{
    text-decoration: none;
    color: #DDD92A !important;
}